<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StmedlabConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="medlabConnectionString1" connectionString="Data Source=localhost;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="St.Teresa_LIS_2019.Properties.Settings.medlabConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="St.Teresa_LIS_2019.Properties.Settings.medlabConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>