<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="St.Teresa_LIS_2019.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="StmedlabConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="medlabConnectionString1" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="St.Teresa_LIS_2019.Properties.Settings.medlabConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="St.Teresa_LIS_2019.Properties.Settings.medlabConnectionString1"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=medlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HistologyWebserviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sthwebdev/Histology/ws/HistologyWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="HistologyWebserviceSoap"
                contract="HistologyWebserviceDev.HistologyWebserviceSoap"
                name="HistologyWebserviceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <St.Teresa_LIS_2019.Properties.Settings>
            <setting name="HisLoginName" serializeAs="String">
                <value>HISTOUSER</value>
            </setting>
            <setting name="HisPassword" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="HisEndPoint" serializeAs="String">
                <value>http://sthwebdev/Histology/ws/HistologyWebservice.asmx</value>
            </setting>
            <setting name="HisReadFromFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HisEnableDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HisTestMode" serializeAs="String">
                <value>False</value>
            </setting>
        </St.Teresa_LIS_2019.Properties.Settings>
    </applicationSettings>
</configuration>